/*
[data-theme="light"] {
    --bg-color: #fff;
    --color: #333;
    --togglebg: #d4e7d5;
    --toggleslider: #fff;
    --roundcolor: #fff;
    --svgcolor:#111;
}

[data-theme="dark"] {
    --bg-color: #333333;
    --color: #e9dcdc;
    --togglebg: #333;
    --toggleslider: #e9dcdc;
    --roundcolor: #333;
    --svgcolor: #fff;
}

.slider {
    background-color: var(--togglebg);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: var(--roundcolor);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    background-color: var(--bg-color);
    transition: all 0.5s;
}
*/

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    background-color: #fff;
    transition: all 0.5s;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    margin: auto;
    margin-top: 10%;
}

.todo-list {
    list-style: none;
    margin-bottom: 20px;
}

.todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

input[type="checkbox"] {
    display: none;
}

.tick {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
}

input:focus {
    outline: none;
    background-color: #d4e7d5;
}

.done span {
    text-decoration: line-through;
    user-select: none;
}

.tick:before {
    content: "✔️";
    font-size: 20px;
    display: none;
}

.done .tick::before {
    display: inline;
}
